/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spreads out the logo, title, and auth links */
    padding: 10px 20px; /* Adds some padding around the items */
    border-bottom: 1px solid #ddd;
  }
  
  .header-logo img {
    height: 50px; /* Control the size of the logo */
    width: auto; /* Maintain aspect ratio */
}
  
  .header-title {
    text-align: center;
  }
  
  .header-auth {
    text-align: right;
  }
  
  /* Shared styles for log in and log out */
  .auth-link {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  
  /* Make sure button doesn't have outline when focused */
  .auth-link:focus {
    outline: none;
  }